<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <base href="/">
    <title>CT PRODUCT PICKER DEV</title>

    <!-- Fav Icon -->
    <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="">
    <!-- Vendor CSS Files -->
    <!--{% for vendorCssFile in vendorCssFiles %}<link rel="stylesheet" href="{{vendorCssFile}}">{% endfor %}-->

    <!-- Application CSS Files -->
    <!--{% for applicationCssFile in applicationCssFiles %}<link rel="stylesheet" href="{{applicationCssFile}}">{% endfor %}-->
</head>


<body class="header-fixed">

<div id="pageloader"></div>

<!--<div class="container-fluid" autoscroll="false">-->
<!--<div class="row header-container">-->
<!--<section id="header" class="main-header">-->
<!--<header class="clearfix container-fluid" data-ng-controller="HeaderController">-->
<!--<div class="row">-->
<!--<div class="col-sm-1 col-xs-2">-->
<!--<a class="brand" href="/dashboard">-->
<!--<img src="https://raw.githubusercontent.com/commercetools/press-kit/master/PNG/72DPI/CT%20cube%20RGB%20300x300.png"-->
<!--height="40px" alt="Logo Commercetools">-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-sm-4 hidden-xs"></div>-->
<!--<div class="col-sm-3 col-xs-1">-->
<!--<div class="btn-group btn-block hidden-xs">-->
<!--<span class="arrow-select">-->
<!--<select class="form-control ng-pristine ng-valid ng-not-empty ng-touched" aria-invalid="false">-->
<!--<option label="Demo Project" value="sunrise-demo">Demo Project</option>-->
<!--</select>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-3 col-xs-7">-->
<!--<div class="btn-group btn-block">-->
<!--<span class="arrow-select">-->
<!--<select class="form-control ng-pristine ng-valid ng-not-empty ng-touched" aria-invalid="false"-->
<!--ng-model="selectedChannel" ng-change="updateChannel();">-->
<!--<option ng-repeat="store in stores" value="{{store.id}}">{{store.name}}</option>-->
<!--</select>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-1 col-xs-2 nav-sign-out">-->
<!--<a href="javascript:void(0);" ng-click="signout();">-->
<!--<img src=""/>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</header>-->
<!--</section>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12 content-container">-->
<!--DSJKFDSJ-->
<!--<div class="view-container" id="ui-view-container">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<h1>CMS integration - Product Picker</h1>
<button onclick="startPicker('product')" >Open the Product Picker</button>
<button onclick="startPicker('category')" >Open the Category Picker</button>
<button onclick="startPicker('variant')" >Open the Variant Picker</button>
<div id="ui-view-container"></div>


<!--Vendor JavaScript Files-->
<!--{% for vendorJsFile in vendorJsFiles %}<script src="{{vendorJsFile}}"></script>{% endfor %}-->

<!--Application JavaScript Files-->
<!--{% for applicationJsFile in applicationJsFiles %}<script src="{{applicationJsFile}}"></script>{% endfor %}-->
<script>

  function startPicker(type) {
    var pickerOptions = {
      project: {
        projectKey: 'ivos-personal-project',
        credentials: {
          clientId: 'oKqJL3KnMTuqRJbtiBClckA4',
          clientSecret: '8k1eE92pUdHgIMk5WrLKQSwSlSZ1bSrC'
        }
      },
      mode: 'dialog',
      pickerMode: type,
      uiLocale: "en",
      // selectionMode: "multiple",
      displayOptions: {
        showHeader: false,
        showCancelButton: true,
        showSelectButton: true
      },
      handlers: {
        onSelect: (items) => {
          console.log('selected ', items);
        },
        onItemSelected: (items) => {
          console.log('item selected ', items);
        },
        onItemDeselected: (items) => {
          console.log('item deselected ', items);
        },
        onCancel: () => {
          console.log('Cancelled')
        }
      }
    };

    console.log("Starting picker");

    let ctPicker = new CTPicker(pickerOptions, document.getElementById('ui-view-container'));

    ctPicker.show().then((data) => {
      data.forEach((i) => {
        if (i.getType() === 'variant') {
          // Handle variant selection
          console.log('Selected Variant ID ' + i.getVariantId() + ' - ', i.getItem());
        } else {
          // Selected a product or category
          console.log('Selected ' + i.getType() + ' - ', i.getItem());
        }
      })
      console.log(data);
    }).catch((msg) => {
      if (msg === 'cancel') {
        console.log("user cancelled the dialog without selecting any items");
      } else {
        console.error(msg);
      }
    });
  }

</script>
</body>

</html>
